<!DOCTYPE html>
<html>
<head>
    <title>Brain Tumor Detection</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/forms.css') }}">
</head>
<body>
    <h1>Brain Tumor Detection</h1>
<div class="form">
    <form action="/predict_brain_tumor" method="POST" enctype="multipart/form-data">
        <label for="image">Select an image:</label>
        <input type="file" id="image" name="image">
        <input type="submit" value="Predict">
    </form>
    <form action="/">
        <input type="submit" value="Back">
    </form>
</div>
   
    
    <footer>
        <p> This system just for testing its not ready to normal use.</p>
        <p>For any issues contact Khalid Khader +970568807701 | Khalidalkhader@gmail.com</p>
        <p>&copy; 2024 Medical AI Systems. All rights reserved.</p>
    </footer>
</body>
</html> 
