<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MRI Scan feedback</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/checklist.css') }}">
</head>
<body>
    <div class="form-container">
        <form action="/predict_checklist" method="post" enctype="multipart/form-data">        
            <label for="mri">MRI Scan Result:</label>
            <input type="radio" id="mri_true" name="mri" value="true">
            <label for="mri_true">True</label>
            <input type="radio" id="mri_false" name="mri" value="false">
            <label for="mri_false">False</label><br><br>
        
            <label for="expected_tumor">Expected Result:</label>
            <input type="text" id="expected_tumor" name="expected_tumor"><br><br>
        
            <label for="name">Name:</label>
            <input type="text" id="name" name="name"><br><br>
        
            <label for="notes">Notes:</label>
            <textarea id="notes" name="notes"></textarea><br><br>
        
            <input type="submit" value="Submit">
        </form>
    </div>
    
    <footer>
        <p> This system just for testing its not ready to normal use.</p>
        <p>For any issues contact Khalid Khader +970568807701 | Khalidalkhader@gmail.com</p>
        <p>&copy; 2024 Medical AI Systems. All rights reserved.</p>
    </footer>
</body>
</html>
