<!DOCTYPE html>
<html>
<head>
    <title>Error</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/error.css') }}">
</head>
<body>
    <h1>Error:</h1>
    <p>{{ message }}</p>
    <form action="/">
        <input type="submit" value="Back">
    </form>
    <footer>
        <p> This system just for testing its not ready to normal use.</p>
        <p>For any issues contact Khalid Khader +970568807701 | Khalidalkhader@gmail.com</p>
        <p>&copy; 2024 Medical AI Systems. All rights reserved.</p>
    </footer>
</body>
</html>
